/*
 * This file can be used to apply a style to all web pages you view
 * Rules without !important are overruled by author rules if the
 * author sets any.  Rules with !important overrule author rules.
 */

/* You can find the latest version of this ad blocking css at:
 * http://www.floppymoose.com
 * hides many ads by preventing display of images that are inside
 * links when the link HREF contans certain substrings.
 */
BODY {
    font-family: 'Nokia Pure', 'Times New Roman', 'Calibri', 'Nokia Sans';
    text-rendering: optimizelegibility;
    background: none repeat scroll 0 0 #EEEEEE; color: #111111;
}

#gnr-article.style-inverse {
    background: none repeat scroll 0 0 #343A3F; color: #D6DBDF;
}

#gnr-article.style-inverse a {
    color: #2FC2EF;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
/*    margin: 0;
    padding: 0;*/
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none outside none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1 {
    font-size: 1.5em;
    padding: 0.313em 0 0.469em;
}
h2 {
    font-size: 1.333em;
    line-height: 1.5em;
    padding: 0.6em 0;
}
h3 {
    font-size: 1.167em;
    padding: 1.518em 0;
}
dd {
    margin: 0 0 0.925em;
}
sub, sup {
    font-size: 0.75em;
    line-height: 0;
    position: relative;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
small {
    font-size: 0.833em;
}
big {
    font-size: 1.167em;
}
em, i {
    font-style: italic;
}
strong, b {
    font-weight: 700;
}
a, a:link, a:visited {
    color: #9C0001;
    text-decoration: none;
}
a:active, a:focus {
    color: #CD0001;
}

A:link[HREF*="addata"]  IMG,
A:link[HREF*="ad."]  IMG,
A:link[HREF*="ads."]  IMG,
A:link[HREF*="/ad"]  IMG,
A:link[HREF*="/A="]  IMG,
A:link[HREF*="/click"]  IMG,
A:link[HREF*="?click"]  IMG,
A:link[HREF*="?banner"]  IMG,
A:link[HREF*="=click"]  IMG,
A:link[HREF*="clickurl="]  IMG,
A:link[HREF*=".atwola."]  IMG,
A:link[HREF*="spinbox."]  IMG,
A:link[HREF*="transfer.go"]  IMG,
A:link[HREF*="adfarm"]  IMG,
A:link[HREF*="feedads"]  IMG,
A:link[HREF*="adSpace"]  IMG,
A:link[HREF*="adserve"]  IMG,
A:link[HREF*=".banner"]  IMG,
A:link[HREF*="bluestreak"]  IMG,
A:link[HREF*="doubleclick"]  IMG,
A:link[HREF*="/rd."]  IMG,
A:link[HREF*="/0AD"]  IMG,
A:link[HREF*=".falkag."]  IMG,
A:link[HREF*="trackoffer."]  IMG,
A:link[HREF*="casalemedia."]  IMG,
A:link[HREF*="valueclick."]  IMG,
A:link[HREF*="betterbasketball."]  IMG,
A:link[HREF*="sponsors.phtml"]  IMG,
A:link[HREF*="realgmtix.phtml"]  IMG,
A:link[HREF*="BurstingPipe"]  IMG,
A:link[HREF*="ebayobjects"]  IMG,
A:link[HREF*="tracksponsor."]  IMG { display: none ! important }

IMG[SRC*="doubleclick"] { display: none ! important }
IMG[SRC*="feedads"] { display: none ! important }

/* disable ad iframes */
IFRAME[SRC*="addata"],
IFRAME[SRC*="ad."],
IFRAME[SRC*="ads."],
IFRAME[SRC*="/ad"],
IFRAME[SRC*="/A="],
IFRAME[SRC*="/click"],
IFRAME[SRC*="?click"],
IFRAME[SRC*="?banner"],
IFRAME[SRC*="=click"],
IFRAME[SRC*="clickurl="],
IFRAME[SRC*=".atwola."],
IFRAME[SRC*="spinbox."],
IFRAME[SRC*="transfer.go"],
IFRAME[SRC*="adfarm"],
IFRAME[SRC*="adSpace"],
IFRAME[SRC*="adserve"],
IFRAME[SRC*="adjuggler"],
IFRAME[SRC*=".banner"],
IFRAME[SRC*="bluestreak"],
IFRAME[SRC*="doubleclick"],
IFRAME[SRC*="/rd."],
IFRAME[SRC*="/0AD"],
IFRAME[SRC*=".falkag."],
IFRAME[SRC*="trackoffer."],
IFRAME[SRC*="connextra."],
IFRAME[ID*="merchandisingMERC"],
IFRAME[SRC*="tracksponsor."]  { display: none ! important }


/* miscellaneous different blocking rules to block some stuff that gets through */

A:link[onmouseover*="AdSolution"] IMG,
*[class=sponsors],
*[class=sp_links],
*[class=advertising],
*[ID=sponsors],
*[ID=ad],
*[ID=inlinead],
*[ID=ad_creative],
*[ID=contextualLinks],
IMG[SRC*=".msads."] { display: none ! important }


/* turning some false positives back off */

A:link[HREF*="/add"]  IMG,
A:link[HREF*="/adsl"] IMG,
A:link[HREF*="thread."] IMG,
A:link[HREF*="download."] IMG,
A:link[HREF*="downloads."] IMG,
A:link[HREF*="netflix.com/AddToQueue"] IMG,
A:link[HREF*="load."],
A:link[HREF*="loads."],
IFRAME[SRC*="load."],
IFRAME[SRC*="loads."],
A:link[HREF*="click.mp3"] IMG { display: inline ! important }


/*
 * For more examples see http://www.mozilla.org/unix/customizing.html
 */


